.form-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 460px;
  overflow-y: auto;
  scrollbar-width: none;


  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 15px;
  }
  .innercontainer {
    padding: 10px 35px 10px 30px;
    input {
      color: black;
    }

    .input-group {
      margin-bottom: 15px;
    }

    .input-group label {
      display: block;
      font-size: 14px;
      color: #555;
      margin-bottom: 5px;
    }

    .input-group input {
      width: 100%;
      padding: 8px;
      font-size: 14px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: #f9f9f9;
    }

    .input-group input:focus {
      border-color: #007bff;
      outline: none;
    }

    .error {
      color: red;
      font-size: 12px;
      margin-top: 5px;
    }

    .submit-btn {
      width: 103%;
      padding: 8px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
    }

    .submit-btn:hover {
      background-color: #0056b3;
    }
  }
}
