.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background: linear-gradient(to bottom, #f0f4f8, #e0ecf4);
  margin-top: 10px;
  border-radius: 10px;
  height: max-content;

  .homepage-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #333;
    text-align: center;
    margin-bottom: 1.5rem;
    position: relative;
    font-family: "Poppins", sans-serif;

    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    /* Add an underline effect */
    &::after {
      content: "";
      display: block;
      width: 60px;
      height: 4px;
      background-color: #6a11cb;
      margin: 0.5rem auto 0;
      border-radius: 2px;
    }
  }

  .homepage-subtitle {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 2rem;
    text-align: center;
    font-family: "Poppins", sans-serif;
  }

  .features-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
    @media (max-width: 361px) {
      width: 100%;
      margin: auto;
      gap: 1rem;
    }
  }

  .feature-card {
    background: linear-gradient(to right, #ffffff, #f9f9f9);
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 330px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    @media (min-width: 640px) and (max-width: 1024px) {
      max-width: 240px;
    }

    h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      color: #333;
      font-family: "Poppins", sans-serif;
    }

    p {
      font-size: 1rem;
      color: #666;
      margin-bottom: 1.5rem;
      font-family: "Poppins", sans-serif;
    }

    a {
      text-decoration: none;
      background: linear-gradient(90deg, #6a11cb, #2575fc);
      color: #fff;
      border-radius: 8px;
      padding: 0.75rem 1.5rem;
      font-size: 13px;
      font-family: sans-serif;
      width: fit-content;
      margin: auto;
      cursor: pointer;
      display: flex;
      justify-content: center;
      gap: 5px;
      align-items: center;
      transition: background 0.3s ease;

      &:hover {
        background: linear-gradient(90deg, #2575fc, #6a11cb);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
      }
    }

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }
  }
}
