.qr-code-generator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-radius: 10px;
  height: 450px; /* Full viewport height for proper centering */
  overflow: hidden; /* Prevent scrolling */
  background: linear-gradient(to bottom, #f0f4f8, #e0ecf4);
  color: #333;
  padding: 1rem; /* Gap between parent and container */

  .container {
    text-align: center;
    background: #fff;
    color: #333;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
    margin: auto;
    font-family: sans-serif;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
  }

  .description {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: #666;
  }

  input {
    width: 90%;
    padding: 10px 0px 10px 5px;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    color: #333;
    outline: none;
    transition: border-color 0.3s;

    &:focus {
      border-color: #007bff;
    }
  }

  .generate-button {
    background: linear-gradient(90deg, #6a11cb, #2575fc);
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
      background: linear-gradient(90deg, #2575fc, #6a11cb);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }
  }

  .qr-code-display {
    margin-top: 1.5rem;

    .qrCode {
      margin: 0 auto;
      display: block;
      width: 100px;
      height: 100px;
    }
    .qrcodestyle {
      margin-top: 10px;
    }
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .qr-code-generator {
    padding: 1rem;
    height: auto; /* Allow height to adjust for smaller screens */
  }

  .container {
    padding: 1.5rem;
    max-width: 90%;
  }

  h1 {
    font-size: 1.75rem;
  }

  .description {
    font-size: 0.9rem;
  }

  .generate-button {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }

  .qr-code-display .qrCode {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  .description {
    font-size: 0.8rem;
  }

  .input-textarea,
  input {
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  .generate-button {
    font-size: 0.8rem;
    padding: 0.5rem 0.75rem;
  }

  .qr-code-display .qrCode {
    width: 60px;
    height: 60px;
  }
}
