.template5 {
  width: 370px;
  height: 220px;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: #b78f5b;

  .card-left {
    width: 60%;
    position: relative;
    background-color: #b78f5b;
    flex-shrink: 0;
    min-width: 150px;

    .upper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 78%;
      background-color: #083450;
      clip-path: polygon(0 0%, 0% 79%, 100% 0%);
    }

    .lower {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 72%;
      background-color: #062538;
      clip-path: polygon(0 46%, 23% 26%, 64% 100%, 0% 101%);
    }
  }

  .name {
    z-index: 999;
    position: relative;
    top: 50px;
    right: 10px;
    font-size: 20px;
    width: max-content;
    color: #062538;
  }

  .temp5-details {
    color: #062538;
    z-index: 999;
    font-size: 14px;
    position: relative;
    top: 65px;
    right: 80px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    // gap: 5px;

    padding: 5px;

    .temp5-h {
      display: flex;
      flex-direction: row-reverse;
      gap: 5px;
    }
  }
  @media (max-width: 480px) {
    transform: scale(0.85);
    transform-origin: top left;
  }

  @media (max-width: 360px) {
    transform: scale(0.8);
    transform-origin: top left;
  }
}

.template5-dbtn {
  position: absolute;
  left: 300px;
  top: 1110px;
  z-index: 1;

  .btn {
    color: white;
  }
  @media (max-width: 360px) {
    position: absolute;
    left: 230px;
    top: 885px;
  }
  @media (min-width: 360px) and (max-width: 450px) {
    position: absolute;
    left: 240px;
    top: 890px;
  }
}
