.template2 {
  border: 1px solid black;
  .temp2-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url("../../assets/template2bg.png");
    background-color: white;
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 60% 100%, 50% 65%);
    -webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 60% 100%, 50% 65%);
  }

  .temp2-web {
    clip-path: polygon(0 0%, 94% 0, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 0%, 94% 0, 100% 100%, 0% 100%);
    background-image: radial-gradient(#d38598, #ec0036);
  }

  .phone-h {
    clip-path: polygon(16% 0, 100% 0%, 83% 100%, 0% 100%);
    -webkit-clip-path: polygon(16% 0, 100% 0%, 83% 100%, 0% 100%);
  }

  .email-h {
    clip-path: polygon(0% 0, 70% 0%, 100% 100%, 30% 100%);
    -webkit-clip-path: polygon(0% 0, 70% 0%, 100% 100%, 30% 100%);
  }
}
