.template4 {
  display: flex;
  width: 370px;
  height: 220px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;

  .card-left {
    flex: 1.5;
    background: #124a50;
    color: white;
    padding: 20px;
    position: relative;
    clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);

    .qr-code {
      width: 60px;
      height: 60px;
      background: white;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      border-radius: 4px;
      padding: 3px;
      position: relative;
      top: 20px;
      left: 40px;
      .temp4qrcode {
        width: 60px;
        width: 60px;
      }
    }

    .temp4-details {
      display: flex;
      border: 1px solid red;
      flex-direction: column;
      font-size: 12px;
      position: relative;
      top: 20px;
      left: -5px;
      width: max-content;
      .temp4-h {
        display: flex;
        width: fit-content;
      }
    }
  }


  .card-right {
    flex: 1;
    .name{
      display: flex;
      flex-direction: column;
      line-height: 10px;
      font-family: sans-serif;
      position: relative;
      left: -30px;
      top: 40px;
      font-size: 18px;
      
    }
    

    .logo {
      font-size: 50px;
      position: relative;
      left: 35px;
      top: 120px;
      color: #124a50;
    }
  }
}
