/* clipPaths.css */
.clip-template1-bg {
  clip-path: polygon(55% 0, 100% 0, 100% 100%, 70% 100%);
}

.clip-template1-name {
  clip-path: polygon(0 1%, 95% 0, 100% 100%, 0% 100%);
}

.clip-template1-red-tb {
  clip-path: polygon(84% 100%, 71% 35%, 55% 100%);
}

.clip-template1-red-ts {
  clip-path: polygon(63% 0, 15% 0, 24% 100%);
}
