.template5 {
  .upper {
    background-color: #083450;
    clip-path: polygon(0 0%, 0% 79%, 100% 0%);
  }

  .lower {
    background-color: #062538;
    clip-path: polygon(0 46%, 23% 26%, 64% 100%, 0% 101%);
  }
}
