.template1 {
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
  height: 220px;
  width: 370px;
  box-shadow: 3px 3px 33px 3px rgba(0, 0, 0, 0.6);

  .flip-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1.5s;
    transform-style: preserve-3d;

    .front-temp {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      background-size: 371px 220px;
      background-repeat: no-repeat;
      z-index: 2;
      display: flex;
      position: relative;
    }
  }

  .temp1-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-color: #000;
    clip-path: polygon(55% 0, 100% 0, 100% 100%, 70% 100%);
  }

  .temp1-name {
    position: absolute;
    top: 25px;
    left: 0;
    width: 220px;
    height: 30px;
    display: inline-block;
    color: #fff;
    padding: 5px 20px;
    text-transform: uppercase;
    line-height: 1;
    background-color: red;
    clip-path: polygon(0 1%, 95% 0, 100% 100%, 0% 100%);
  }

  .temp1-content {
    position: absolute;
    top: 100px;
    left: 20px;
    width: 250px;
    height: 90px;
    display: inline-block;

    .temp1-h {
      color: gray;
      font-size: 12px;
      line-height: 1.5;
      word-wrap: break-word;

      div {
        background-color: red;
        width: 16px;
        padding: 1px 0 1px 4px;
        color: #fff;
        font-weight: bold;
        display: inline-block;
      }
    }
  }

  #temp1-qr {
    width: 80px;
    height: 80px;
    padding: 5px;
    position: absolute;
    top: 90px;
    right: 20px;
    background-color: #fff;
    border-radius: 5px;
  }

  .red-tb {
    top: 70px;
    left: 93px;
    position: absolute;
    background-color: #be1e1e;
    width: 200px;
    height: 150px;
    clip-path: polygon(84% 100%, 71% 35%, 55% 100%);
  }

  .red-ts {
    position: absolute;
    width: 85px;
    height: 30px;
    background-color: #be1e1e;
    top: 64px;
    left: 207px;
    clip-path: polygon(63% 0, 15% 0, 24% 100%);
  }
}
